$primary: #EF624D;
$primary_variant: #007b4f;
$primary_disabled: #cfebe1;
$color_on_primary: #ffffff;
$secondary: #2531B6;
$background: #ffffff;
$surface: #ffffff;
$colorOnBackground: #000;
$colorOnSurface: #000;
$error: #ff0000;
