@import 'src/app/core/styles/colors';

.image{
    width: 100px;
    height: 100px;
}

.company-name{
    display: flex;
    flex-direction: row;

    span{
        margin: 0 10px;
    }
}
.card{
    box-shadow: 0 4px 8px 0 $primary;
  transition: 0.3s;
  width: 75vw;
  margin: 40px auto;
  background: white;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.company-header{
  display: flex;
  flex-direction: column;
  width: 70vw;
  justify-content: center;
}
.skill-list{
    display: flex;
    flex-direction: row;
    span{
        margin: 0 5px;
    }
}
.card-content{
    display: flex;
    flex-direction: row
}
p{
    margin:0;
}
.card-footer{
    width: 75vw;
    text-align: end;
    margin-bottom: 20px;

    button{
        background: white;
        color:$primary;
    }
}
.icons{
    display: flex;
    flex-direction: row;
    width: 15vw;
    justify-content: space-between;
    button{
        border: 1px solid $primary;
    }
  
}

.example-form-field {
    width: 150px;
  //  background: white;

  
  }

  .application-list{
      margin-top: 20px;
  }

  .checkbox{
      color:$primary;

      ::ng-deep .mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-frame{
          border-style:hidden;
      }
  }