.image{
    width: 100px;
    height: 100px;
}

.company-name{
    display: flex;
    flex-direction: row;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 75vw;
  margin: 40px auto;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.company-header{
  display: flex;
  flex-direction: column;
  width: 70vw;
}
.skill-list{
    display: flex;
    flex-direction: row
}
.card-content{
    display: flex;
    flex-direction: row
}
p{
    margin:0;
}
.card-footer{
    width: 75vw;
    text-align: end;
    margin-bottom: 20px;
}
.icons{
    display: flex;
    flex-direction: row;
    width: 8vw;
    justify-content: space-between;
  button{
      height: 30px;
  }
}

.example-form-field {
    width: 150px;
  }

  .application-list{
      margin-top: 20px;
  }