<mat-sidenav-container>
  <mat-sidenav
      [position]="'end'"
      #sidenav
      role="navigation"
      style="
          width: 85%;
          position: fixed;
          min-height: 100vh;
          overflow-y: scroll;
      "
  >
      <app-category-page
         
          (click)="sidenav.close()"
         
      ></app-category-page>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column" class="sidenav-content">
      
      <!-- HEADER -->
      <mat-toolbar
          class="navbar"
          ngClass.gt-xs="navbar-desktop"
          fxLayout="column"
          fxShow="true"
        
      >
          <div
              class="navigation-bar-content"
              ngClass.gt-xs="navigation-bar-content-desktop"
              fxFlex="0 0 100%"
              fxLayout="row"
              fxLayoutAlign="space-between center"
          >
              
              <app-category-page
                 
                  
                  fxFlex="1 1 auto"
                  fxLayoutAlign="center"
                  fxFlexAlign="center center"
                  fxShow="false"
                  fxShow.gt-sm="true"
                 
              ></app-category-page>
              
          </div>
          
      </mat-toolbar>

      <!-- BODY -->
      <router-outlet></router-outlet>
     
      <div class="footer">
        <h2>CopyRight Protected, 2018</h2>

        <h2><span>Terms</span><span>|</span> <span>Contact Us</span></h2>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
